.jobs-bg {
  background-color: black;
  height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-y: scroll;
}
.products-loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.search-btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .products-loader-container {
    width: 70%;
  }
}
@media screen and (min-width: 768px) {
  .jobs-bg {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}
.profile-bg {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  margin: 10px;
  font-weight: 500;
  color: #64748b;
}
.profile-icon {
  height: 55px;
}
.profile-name {
  font-size: 25px;
  color: #4f46e5;
}
@media screen and (min-width: 768px) {
  .profile-bg {
    width: 280px;
  }
}
.hr {
  width: 100%;
  border: solid 1px #b6c5ff;
}
.left-section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .left-section {
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .right-section {
    width: 74%;
  }
}
.search-input-container {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border: solid 1px #b6c5ff;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
.search-input-container1 {
  display: flex;
  align-items: center;
  background-color: black;
  border-radius: 8px;
  border: solid 1px #b6c5ff;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 16px;
}
.desktop-search {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}
.mobile-search {
  background-color: black;
  color: white;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  border: none;
  outline: none;
  flex-grow: 1;
}
.search-icon {
  color: #475569;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 768px) {
  .search-input-container1 {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .search-input-container {
    display: none;
  }
}
.ul {
  list-style-type: none;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  padding: 0;
}
.li-item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  margin-bottom: 8px;
}

.li-item1 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 60%;
  margin-bottom: 8px;
}
.filters-head {
  font-size: 20px;
  color: white;
  margin-left: -100px;
}

.filters-head1 {
  font-size: 20px;
  color: white;
  margin-left: -190px;
}
@media screen and (min-width: 768px) {
  .filters-head {
    margin-left: -60px;
  }

  .filters-head1 {
    font-size: 20px;
    color: white;
    margin-left: -150px;
  }
}
.e-section {
  color: black;
}
.no-jobs-container {
  color: #ffffff;
  font-family: 'Roboto';
  text-align: center;
  margin-top: 50px;
}

.no-jobs-img {
  width: 50%;
  height: 50%;
}
