.login-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  height: 95vh;
  padding: 20px;
}
@media screen and (min-width: 768px) {
  .login-main {
    height: 100vh;
  }
}
.login-sub {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #272727;
  padding: 30px;
  border-radius: 10px;
  height: 350px;
}
.input-box {
  border: solid 1px #64748b;
  padding: 5px;
  margin: 10px;
  height: 45px;
  width: 280px;
  background-color: #272727;
  color: #64748b;
  outline: none;
  border-radius: 5px;
}
.login-page-logo {
  height: 30px;
  width: 100px;
  margin-bottom: 30px;
}
.login-btn {
  background-color: #4f46e5;
  color: white;
  cursor: pointer;
  padding: 5px;
  border: none;
  height: 40px;
  width: 280px;
  margin-top: 30px;
  outline: none;
  border-radius: 5px;
  font-weight: 800;
  font-size: 15px;
  letter-spacing: 2px;
}

.error-message {
  color: red;
  font-weight: 300;
  letter-spacing: 2px;
}
.labe {
  color: white;
  margin-left: -200px;
  font-weight: 350;
}
